.classpath
.project
.settings
.DS_Store
target/
typings/
bower_components/
node_modules/
*.ddl
*.iml
*.ipr
*.iws
*.swp
.idea
*.log
*dummy*

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
yarn.lock
Thumbs.db
