.DS_Store

# IDEs and editors
*.iml
.idea
/.vscode
.project
.classpath
*.launch
.settings

# compiled output
dist/
/tmp
target/
typings/
bower_components/
node_modules/

# dependencies
/node_modules


# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
testem.log
/typings
*.log
*dummy*
*.ddl

# JS
*.map

# e2e
/e2e/*.js
/e2e/*.map

#System Files
yarn.lock
Thumbs.db
