<div class="content">

	<div class="container">

		<div class="row">

			<div class="col-sm-8 blog-main">

				<div class="blog-post">
					<h2 class="blog-post-title" *ngIf="talk">{{talk.talkType}} - {{talk.track}}</h2>
					<p class="blog-post-meta" *ngIf="session">{{session.day}} : {{session.fromTime}} - {{session.toTime}}</p>

					<div *ngIf="talk">
						<p>{{talk.summary}}</p>
					</div>

					<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
						<select class="form-control" name="rating" [(ngModel)]="rating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

						<button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-outline-primary bnt-lg btn-block">Vote</button>
					</form>

				</div>

			</div>

			<div class="col-sm-3 offset-sm-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
					<h4>Speakers</h4>
					<div *ngFor="let speaker of speakers">
						<div>
							<span>{{speaker.name}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- /.blog-sidebar -->


		</div>

		<div class="content">
			<!--<md-card>
		<md-card-subtitle *ngIf="talk">{{talk.talkType}} - {{talk.track}}</md-card-subtitle>
		<md-card-title *ngIf="talk">{{talk.title}}</md-card-title>
		<md-card-content *ngIf="talk">
			<form *ngIf="!submitted" (ngSubmit)="onSubmit()" #registerForm="ngForm">
				<select class="form-control" name="rating" [(ngModel)]="rating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

				<button type="submit" [disabled]="!registerForm.form.valid" md-raised-button color="primary">Vote</button>
			</form>
		</md-card-content>

	</md-card>-->
		</div>