.content {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /*background-size: cover;
  background-position: 50% 90% !important;
  background-repeat: no-repeat;
  background-image: url(assets/img/bg.png);*/
}

md-card {
    margin-top: 20px;
  text-align:center;
  animation: fadein 1s;
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  max-width: 400px;
  width: 60%;
  /*max-width:100%;*/
}

md-input {
    display:block;
}

md-spinner {
    width:25px;
    height:25px;
    margin:20px auto 0 auto;
}

button {
  display:block;
  width:100%;
  margin:5px;
}

.error {
  color:red;
  font-weight: bold;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}