<div class="content">
	<md-card>
		<md-card-subtitle *ngIf="talk">{{talk.talkType}} - {{talk.track}}</md-card-subtitle>
		<md-card-title *ngIf="talk">{{talk.title}}</md-card-title>
		<md-card-content *ngIf="talk">
			<form *ngIf="!submitted" (ngSubmit)="onSubmit()" #registerForm="ngForm">
				<select class="form-control" name="rating" [(ngModel)]="rating" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

				<button type="submit" [disabled]="!registerForm.form.valid" md-raised-button color="primary">Vote</button>
			</form>
		</md-card-content>
		
	</md-card>
</div>