/*div.body {*/
  /*margin:0 auto;*/
  /*text-align:center;*/
/*}*/

h2{
    color:darkred;
    margin-top: 0px;
    margin-bottom: 10px;
  text-align:center;
}

h2{
    color:darkred;
    margin-top: 0px;
    margin-bottom: 10px;
}

md-grid-list{
    margin-top:0px;
}
div.repeat {
  display:inline-block;
  margin:20px;
}
.selected {
  background-color: #546E7A;
  background-color: #3F51E0;
  background-color: #009688;
  color: white;
}

.selected-contrast {
  background-color: white !important;
  color: black !important;
}

md-card {
  display:block;
  width:270px;
  height:337px;
  padding:0;
}

md-card img.profile-picture {
  width:80px;
  height:80px;
  border:2px solid white;
  border-radius:50%;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-40px;
  margin-left:-40px;
}

md-card .header {
  width:100%;
  height:50%;
}

md-card img.header-image {
  width:100%;
  height:100%;
}

md-card div.card-content {
  display:block;
  width:100%;
  height:50%;
  text-align: center;
  padding:1px !important; /* collapsing margins baby */
}

md-card div.card-content p.name {
  font-size:22px;
  margin:50px 0 10px 0;
  overflow:hidden;
  text-overflow: ellipsis;
  max-height:60px;
}
