
.card {
  float: left;
  width: 18%;
  padding: .75rem;
  margin-bottom: 2rem;
  margin-left: 0px;
  /*border: 0;*/
}

.card > img {
  width: 80%;
  /*height: 80%*/
}

/*.card-text {
  font-size: 85%;
}*/
