<div class="body">

	<div style="margin:40px;">
		<button md-raised-button color="primary" style="width:100px" (click)="gotoPrev()">PREV</button>
		<button md-raised-button color="primary" style="width:100px" (click)="gotoNext()">NEXT</button>

	</div>

	<md-grid-list cols="4" rowHeight="220px">
		<md-grid-tile *ngFor="let attendee of attendees">
			<md-card class="example-card">
				<md-card-header>
         	<img md-card-md-image class="example-header-image" src="{{attendee.avatarUrl}}">
					<md-card-title>{{attendee.firstName}} {{attendee.lastName}}</md-card-title>
					<md-card-subtitle>{{attendee.company}}</md-card-subtitle>
				</md-card-header>
				<md-card-content>
					<p>{{attendee.twitter}}</p>
				</md-card-content>
			</md-card>
		</md-grid-tile>
	</md-grid-list>
</div>