<div class="body">

	<div style="margin:40px;">
		<button class="btn btn-outline-primary" (click)="gotoPrev()">PREV</button>
		<button class="btn btn-outline-primary" (click)="gotoNext()">NEXT</button>
	</div>

	<div class="album text-muted">
		<div class="container">
			<div class="card-deck">
				<div class="card" *ngFor="let attendee of attendees">
					<img class="card-img-top" data-src="{{attendee.avatarUrl}}" alt="{{attendee.firstName}} {{attendee.lastName}}">
					<div class="card-block">
						<h4 class="card-title">{{attendee.firstName}} {{attendee.lastName}}</h4>
						<span class="card-text">{{attendee.company}}</span>
					</div>
					<div class="card-footer">
						<small class="text-muted">{{attendee.twitter}}</small>
					</div>
				</div>

			</div>

		</div>
	</div>

</div>