<div class="body">
    <h2>Speakers</h2>

    <div style="margin:40px;">
        <button md-raised-button color="primary" style="width:100px" (click)="gotoPrev()">PREV</button>
        <button md-raised-button color="primary" style="width:100px" (click)="gotoNext()">NEXT</button>
    </div>

    <md-grid-list cols="4">
        <md-grid-tile *ngFor="let speaker of speakers">
            <md-card style="margin-top:30px; margin-left:10px; margin-right:10px; margin-bottom:30px;">
                <md-card-header>
                    <img md-card-avatar src="{{speaker.avatarUrl}}">
                    <a href="" [routerLink]="['/speakers', speaker.id]">
                      <md-card-title>{{speaker.firstName}} {{speaker.lastName}}</md-card-title>
                    </a>
                    <md-card-subtitle>{{speaker.company}}</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <p>
                      <a href="https://twitter.com/{{speaker.twitter | noat}}">
                        {{speaker.twitter}}
                      </a>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>
