<div class="content">

    <md-card elevation="5">

        <md-card-title>
            <h2>User login</h2>
        </md-card-title>

        <md-card-content>

            <form *ngIf="!submitted" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="form-group">

                    <div>
                        <input [(ngModel)]="mdUserName" name="username" #name="ngModel" placeholder="UserName" class="form-control" required>
                    </div>

                    <div style="margin-top:10px">
                        <input placeholder="Password" name="password" [(ngModel)]="mdPassword" #name="ngModel" class="form-control" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Submit</button>
            </form>

        </md-card-content>

    </md-card>

</div>
